node_modules/
dist/
dist-new/
samsar-js-dist/

.DS_Store
.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
.nyc_output/
*.tsbuildinfo

.idea/
.vscode/

*.tgz
